# output dir
datasets/math
models/
results/

*.jpg
*.png
*.txt
*.json
*.diff

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
qpnet_pytorch.egg-info/
build/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode

*.md